<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
        margin: 0px;
        padding: 0px;
    }
    body{
        background: url(https://res.cloudinary.com/dgjwtquka/image/upload/v1671535002/gosky/Bandara_u5pvm0.png);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        height: 100px;
        font-family: sans-serif;
        overflow: hidden;
    }
    .box{
        border: 2px solid #35aacb;
        margin: 50px auto;
        color: rgb(0, 0, 0);
        text-align: center;
        width: 800px;
    }
    .box > img{
        width: 350px;
        border-radius: 50px;
        margin-top: 25px;
    }
    .box h1{
        letter-spacing: 3.0px;
        margin-top: 10px;
        font-weight: 100;
        margin-bottom: 10px;
    }
    .box h5{
        font-size: 15px;
    }
    .box p{
        font-size: 20px;
        padding: 5px;
    }
  </style>
</head>

<body>
  <div class="box">
    <img src="https://res.cloudinary.com/dgjwtquka/image/upload/v1671535001/gosky/Group_4_axkxf1.png" alt="">
    <h1>
      <center>TRANSACTION RECEIPT</center>
    </h1>
    <p><b>Hai Pengguna,</b></p>
    <p>Selamat! Pembayaranmu telah berhasil. Terimakasih atas kepercayaanmu untuk melakukan penerbangan di GoSky.
    </p>
    <br>
    <p><b>Detail Pembayaran</b></p>
    <hr>
    <h5>
      <pre align="justify">
        ID              : {{id}}
        Ticket          : {{ticketName}}
        Departure       : {{ticketDate}}
        Amount          : {{amount}}
        BookingCode     : {{bookingCode}}
      </pre>
      <p>{{createdAt}}</p>
    </h5>
    <br>
    <p>Selamat menikmati penerbangan anda</p>
    <p>Salam, GoSky</p>

  </div>
</body>

</html>